
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# macOS
DS_Store
.DS_Store
./DS_Store
**/.DS_Store

# Node
node_modules/

# Test results
test-results/

# Build targets
target/
